{{ if .Site.Config.extra.experience }}
<section class="content-section">
    <h2 class="content-section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        {{ if eq .Page.Config.lang "fr" }}Expériences Professionnelles{{ else }}Experiences{{ end }}
    </h2>
    
    {{ range .Site.Config.extra.experience }}
        {{ $trans := index $.Page.Config.extra.trans.experience .id }}
    <div class="experience-item">
        <div class="item-header">
            <h3 class="item-title">{{ $trans.role }}</h3>
            <span class="item-time">{{ .time }}</span>
        </div>
        <div class="item-company">{{ .company }}</div>
        {{ if $trans.details }}
        <div class="item-details">{{ $trans.details }}</div>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
