{{ if .Site.Config.extra.project }}
<section class="content-section">
    <h2 class="content-section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        {{ .Page.Config.extra.trans.project.title }}
    </h2>
    
    {{ range .Site.Config.extra.project }}
        {{ $trans := index $.Page.Config.extra.trans.project .id }}
    <div class="project-item">
        <h3 class="project-title">
            <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ $trans.title }}</a>
        </h3>
        {{ if $trans.tagline }}
        <p class="project-tagline">{{ $trans.tagline }}</p>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
