{{ $projects := .Site.Config.data.projects.project }}

{{ if $projects }}
<section class="content-section">
    <h2 class="content-section-title">
        <i class="fas fa-code-branch"></i>
        {{ i18n "project.title" .Page.Config }}
    </h2>

    <div class="projects-grid">
        {{ range $projects }}
        <div class="project-item">
            <h3 class="project-title">
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ i18n (printf "project.%s.title" .id) $.Page.Config }}</a>
            </h3>
            <p class="project-tagline">{{ i18n (printf "project.%s.tagline" .id) $.Page.Config }}</p>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
