{{ $t := .Site.Config.data.translations.en }}
{{ if eq .Page.Config.extra.lang "fr" }}
    {{ $t = .Site.Config.data.translations.fr }}
{{ end }}
{{ $projects := .Site.Config.data.projects.project }}

{{ if $projects }}
<section class="content-section">
    <h2 class="content-section-title">
        <i class="fas fa-code-branch"></i>
        {{ $t.project.title }}
    </h2>
    
    <div class="projects-grid">
        {{ range $projects }}
            {{ $trans := index $t.project .id }}
        <div class="project-item">
            <h3 class="project-title">
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ $trans.title }}</a>
            </h3>
            {{ if $trans.tagline }}
            <p class="project-tagline">{{ $trans.tagline }}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
