{{ if .Page.Config.extra.skills }}
<section class="content-section">
    <h2 class="content-section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        {{ .Page.Config.extra.skills.title }}
    </h2>
    
    <div class="skills-list">
        {{ range .Page.Config.extra.skills.items }}
        <div class="skill-item">
            <h3 class="skill-name">{{ .name }}</h3>
            <div class="skill-details">{{ .details }}</div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
